{%extends 'base.html'%}
{%load static%}
{%block content%}
       
  <section class="aboutbox"> 
        <div class="h2font">
            <h1>Hao Tai</h1>
           <br>
            <P>Hao
                Tai Int Co a partner of Asia's top financial group, is
                currently one of the overseas financial operating companies.
                From 2019 to 2020 it won unanimous praise in the industry
                and a number  of technical patents, and completed the top ten
                outstanding performance indicators in Asia Accompanying
                international financial markets.
                <br>
                
                In
                response to the technological development of the times,
                in 2019 the company invested heavily to build a technology
                industrial park, further study industry technologies, and recruit
                talents for the global market It plans to obtain the leading honor
                in the Asian financial industry in 2021 2022.
                <br>
                The
                company's main business blockchain technology
                application an research and development, overseas f inancial
                investment and financing consulting, business information
                registration, software research and development, electronic trading
                of bulk commodities, overseas physical trade operations, etc.</P>
        </div>
        <div class="squaretwo" >

        </div>
</section>       
        <div class="containertwo">
            <div class="boxabout">
                <div class="boxinabout" >
                      <p> <b>1500</b><br> Num. of Employees </p>
                 </div>
                 <div class="boxinabout" >
                      <p> <b>MaeSot</b> <br> Location</p>
                </div>
                <div class="boxinabout" >
                    <p> <b> 430+</b><br> Num. of Buildings</p>
                </div>
                <div class="boxinabout" >
                    <p> <b>72Acres</b><br> Area</p>
                </div>
            </div>

            {%endblock%}

            <!-- <section class="footer" >
                <h3>Hao Tai</h3>
                <div id="bottomdiv">
                    <div class="footerleft">
                        <p>Links</p>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href="./about.html">ABOUT</a></li>
                            <li><a href="">JOBS</a></li>
                            <li><a href="">BENEFITS</a></li>
                        </ul>
            
                    </div>
                    <div class="footerright">
                        <p>Follow Us On</p>
                        <div>
                            <img src="../static/images/instagram.png" alt="">
                            <img src="../static/images/Vector(1).png" alt="">
                            <img src="../static/images/Vector(2).png" alt="">
                            <img src="../static/images/mail.png" alt="">
                        </div>
                        
                    </div>
    
                </div>   
            </section>
</body>
</html> -->