{%extends 'base.html'%}
{%load static%}
{%block content%} 

    <h2 class=" cp">{{joi.title}}</h2>
    <section class="subboxthree">
        <img src="../static/images/Frame 101.png" alt="">
        

        <div class="singleboxthree">
            
            <h4 class="cp2">{{joi.title}}</h4>
            <p>{{joi.description}}</p>
                <p class="innerthree">{{joi.no_of_vacancy}}</p>
        </div>
    </section>
    <section class="boxthreecrp">
        <div class="requirementscrp">
            <h3>Requirements</h3>     
        </div>
<div class="boxthreefullcrp" >      
    <div class="beforearrivalcrp" >
        <div>
            <h4>{{joi.experience}}</h4>
        <!-- </div>
        <div>
            <p>Sales or marketing experience is mandatory, however
                a candidate can get selected for his performance during interview as well.</p>
        </div> 
    </div> -->
    <div class="beforearrivalcrp" >
    <div>
        <h4>{{joi.documents}}</h4>
    </div>
    <!-- <div>
    <ul>
        <li>Passport
        </li>
        <li>Covid vaccine certificate </li>
        <li> RTPCR test certificate</li>
        </ul>
    </div>  -->
    </div>
    <div class="beforearrivalcrp" >
    <div>
        <h4>{{joi.skills}}</h4>
    </div>
    <!-- <div>
    <ul>
        <li>Basic computer knowledge </li>
        <li>
            Typing speed of minimum 30 words/minute
        </li>
    </ul>
    </div>  -->
    
   </div>    
 </section>
 <section class="boxthreecrp">   
        </div>
    <div class="boxthreefullcrp" >      
    <div class="beforearrivalcrp" >
        <div>
            <h4>{{joi.language}}</h4>
        </div>
        <!-- <div>
            <p>English Fluency, Fluent enough to understand and respond
                European/Western clients at work. <br>
                OR <br> Chinese Fluency, Fluent enough to understand and respond
                South Asian/Chinese clients at work.
                (Both language knowledge is a high advantage)</p>
        </div>  -->
    </div>
    <div class="beforearrivalcrp" >
    <div>
        <h4>{{joi.salary}}</h4>
    </div>
    <!-- <div>
        Starting from 6000 RMB (probationary)
        Basic salary of 12000 RMB to 15000 RMB
        Target based, Unlimited based on your Performance.
    </div>  -->
    </div>
    <div class="beforearrivalcrp" >
    <div>
        <h4>{{joi.age}}</h4>
    </div>
    <div>
       <!-- <p>Between 22 to 35</p>  -->
    </div> 
 </div>    
</section>
     <div>
        <div>
            <div class="sendcvcovercrp" >
               <h4>Send CV</h4> 
            </div>
        </div>
     </div>

     {%endblock%}
     
     <!-- <section class="footer" >
        <h3>Hao Tai</h3>
        <div id="bottomdiv">
            <div class="footerleft">
                <p>Links</p>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="./about.html">ABOUT</a></li>
                    <li><a href="">JOBS</a></li>
                    <li><a href="">BENEFITS</a></li>
                </ul>
    
            </div>
            <div class="footerright">
                <p>Follow Us On</p>
                <div>
                    <img src="../static/images/instagram.png" alt="">
                    <img src="../static/images/Vector(1).png" alt="">
                    <img src="../static/images/Vector(2).png" alt="">
                    <img src="../static/images/mail.png" alt="">
                </div>
                
            </div>

        </div>   
    </section>
 
</body>
</html> -->