{%extends 'base.html'%}
{%load static%}
{%block content%} 

    <section class="fullbox">
            <div class="subbox">
                {% for job in jo %}
                <div class="singlebox">
                    <img src="../static/images/cryptocurrencies 1.png" alt="">
                    <a href="{% url 'crptojob' job.pk %}"><h4>{{job.title}}</h4>
                    <p>{{job.description}}</p>
                        <p class="inner">{{job.no_of_vacancy}} JobVacancy</p></a>
                </div>
                {%endfor%}
 <!-- <img src="../static/images/resources 1.png" alt="">
                    <h4>Human Resources</h4>
                    <p>Find and Recruit qualified candidates for the -->
                        <!-- company, Interview them and maintain records.</p>
                        <p class="inner">100 JobVacancy</p>
                </div>

                <div class="singlebox" >
                    <img src="../static/images/customer-support 1.png" alt="">
                    <h4>Promotion Models</h4>
                    <p>Answering customer’s questions, with warm and
                        thoughtful attitude and improve customer retention
                        through excellent support service.</p>
                        <p class="inner">110 JobVacancy</p>
                </div>

                <div class="singlebox" > -->
                    <!-- <img src="../static/images/sales-funnel 1.png" alt="">
                    <h4>Digital Sales and marketing</h4>
                    <p>Find people across the world and promote the tasks
                        company asks for, reach sales targets and perform marketing as well.</h6>
                        <p class="inner">90 JobVacancy</p>
                </div> --> 

                <!-- <div class="singlebox" >
                    <img src="../static/images/translator 1.png" alt="">
                    <h4>Translators</h4>
                    <p>Translating Chinese and English wherever required and
                        whenever asked for.</h6>
                        <p class="inner">70 JobVacancy</p>
                </div> -->
                <!-- <div class="singlebox">
                    <img src="../static/images/cryptocurrencies 1.png" alt="">
                    <h4>Crypto Promoters</h4>
                    <p>Convince Clients to invest Crypto currencies
                        through our company. Follow up the clients for
                        Investments and sales.</p>
                        <p class="inner">120 JobVacancy</p>
                </div>
            </div> -->
            <!-- <div class="subbox">
                <div class="singlebox">
                    <img src="../static/images/cryptocurrencies 1.png" alt="">
                    <h4>Crypto Promoters</h4>
                    <p>Convince Clients to invest Crypto currencies
                        through our company. Follow up the clients for
                        Investments and sales.</p>
                        <p class="inner">120 JobVacancy</p>
                </div> -->

                <!-- <div class="singlebox" >
                    <img src="../static/images/resources 1.png" alt="">
                    <h4>Human Resources</h4>
                    <p>Find and Recruit qualified candidates for the
                        company, Interview them and maintain records.</p>
                        <p class="inner">100 JobVacancy</p>
                </div> -->

                <!-- <div class="singlebox" >
                    <img src="../static/images/customer-support 1.png" alt="">
                    <h4>Promotion Models</h4>
                    <p>Answering customer’s questions, with warm and
                        thoughtful attitude and improve customer retention
                        through excellent support service.</p>
                        <p class="inner">110 JobVacancy</p>
                </div> -->

                <!-- <div class="singlebox" >
                    <img src="../static/images/sales-funnel 1.png" alt="">
                    <h4>Digital Sales and marketing</h4>
                    <p>Find people across the world and promote the tasks
                        company asks for, reach sales targets and perform marketing as well.</h6>
                        <p class="inner">90 JobVacancy</p>
                </div> -->
<!-- 
                <div class="singlebox" >
                    <img src="../static/images/translator 1.png" alt="">
                    <h4>Translators</h4>
                    <p>Translating Chinese and English wherever required and
                        whenever asked for.</h6>
                        <p class="inner">70 JobVacancy</p>
                </div> -->
                <!-- <div class="singlebox">
                    <img src="../static/images/cryptocurrencies 1.png" alt="">
                    <h4>Crypto Promoters</h4>
                    <p>Convince Clients to invest Crypto currencies
                        through our company. Follow up the clients for
                        Investments and sales.</p>
                        <p class="inner">120 JobVacancy</p>
                </div>
            </div> -->
            <!-- <div class="subbox">
                <div class="singlebox">
                    <img src="../static/images/cryptocurrencies 1.png" alt="">
                    <h4>Crypto Promoters</h4>
                    <p>Convince Clients to invest Crypto currencies
                        through our company. Follow up the clients for
                        Investments and sales.</p>
                        <p class="inner">120 JobVacancy</p>
                </div> -->

                <!-- <div class="singlebox" >
                    <img src="../static/images/resources 1.png" alt="">
                    <h4>Human Resources</h4>
                    <p>Find and Recruit qualified candidates for the
                        company, Interview them and maintain records.</p>
                        <p class="inner">100 JobVacancy</p>
                </div> -->
<!-- 
                <div class="singlebox" >
                    <img src="../static/images/customer-support 1.png" alt="">
                    <h4>Promotion Models</h4>
                    <p>Answering customer’s questions, with warm and
                        thoughtful attitude and improve customer retention
                        through excellent support service.</p>
                        <p class="inner">110 JobVacancy</p>
                </div> -->

            </div>

            {%endblock%}

            
    
                </div>   
            </section>
        </section>
</body>
</html> -->